
.container {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: start;
    grid-template-areas:
      "main"
      "portfolio"
      "footer";
  }
  
  .main {
    grid-area: main;
    background-color: aliceblue;
    height: 100vh;  
  }
  
  .portfolio {
    grid-area: portfolio;
    background-color: aquamarine;
    height: 100vh;
  }
  
  .footer {
    grid-area: footer;
    background-color: bisque;
    height: 100vh;  
  }
  