
.container {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: start;
    grid-template-areas:
      "main"
      "portfolio"
      "footer";
  }
  
  .link { grid-area: main; }
  
  .portfolio { grid-area: portfolio; }
  
  .footer { grid-area: footer; }
  