.main {
    background-color: aqua;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-size: cover;
        margin-right: 0;
    }

    h2{
        justify-items: center;
        text-align: center;
    }

    .social-media {
        background-color: antiquewhite;
        display: flex;
        flex-direction: column;
    }
}