.portfolio {
    background-image: url(../img/parallax-01.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    h2 {
        padding: 40px 0 0 40px;
        background-color: bisque;
    }


}